service: serverless-task-notification

provider:
  name: aws
  runtime: nodejs8.10
  memorySize: 256

functions:
  getUsers:
    handler: lambdas/getUsers.get
    events:
      - http:
          path: users
          method: get
          cors: true
  getTasks:
    handler: lambdas/getTasks.get
    events:
      - http:
          path: tasks
          method: get
          cors: true
  createTask:
    handler: lambdas/createTask.create
    events:
      - http:
          path: tasks
          method: post
          cors: true
  processTask:
    handler: lambdas/processTask.process
    events:
      - sns: taskCreated

resources:
  Resources:
    usersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: users
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    tasksTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: tasks
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    uiBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: task-notification-ui
        AccessControl: PublicRead
        WebsiteConfiguration:
          IndexDocument: index.html
          ErrorDocument: index.html
        CorsConfiguration:
          CorsRules:
            - AllowedHeaders:
                - "*"
              AllowedMethods:
                - GET
              AllowedOrigins:
                - "*"

# iot stuff needed
