service: serverless-task-notification

plugins:
  - serverless-finch
  - serverless-plugin-scripts

custom:
  client:
    bucketName: serverless-task-notification-app
    distributionFolder: app/build
    errorDocument: index.html

  scripts:
    commands:
      fullInstall: npm install && cd app && npm install && cd ..
      test: npm test && cd app && npm test && cd ..
      build: cd app && npm run build && cd ..
      fullDeploy: serverless deploy && serverless client deploy --no-confirm
      teardown: serverless remove && serverless client remove --no-confirm

functions:
  getUsers:
    handler: api/users/getAll.handler
    events:
      - http:
          path: users
          method: get
  getTasks:
    handler: api/tasks/getAll.handler
    events:
      - http:
          path: tasks
          method: get
  createTask:
    handler: api/tasks/create.handler
    events:
      - http:
          path: tasks
          method: post
  deleteTask:
    handler: api/tasks/delete.handler
    events:
      - http:
          path: tasks/{id}
          method: delete
  notify:
    handler: api/notify/process.handler
    events:
      - sns: notify

provider:
  name: aws
  runtime: nodejs8.10
  region: us-east-1
  memorySize: 256

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:*
        - s3:*
        - sns:*
        - ec2:*
        - ses:*
      Resource: "*"

resources:
  Resources:
    usersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: users
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    tasksTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: tasks
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    socketServer:
      Type: AWS::EC2::Instance
      Properties:
        ImageId: ami-04681a1dbd79675a5
        InstanceType: t2.micro
        KeyName: serverless-task-notification
        Tags:
          - Key: Name
            Value: socketServer
    sendMessage:
      Type: AWS::SNS::Topic
