service: serverless-task-notifications

functions:
  notify:
    handler: api/notifications/process.handler
    events:
      - sns: notify

provider:
  name: aws
  runtime: nodejs8.10
  region: us-east-1
  memorySize: 256

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:*
        - s3:*
        - sns:*
        - ec2:*
        - ses:*
      Resource: "*"

resources:
  Resources:
    socketServer:
      Type: AWS::EC2::Instance
      Properties:
        ImageId: ami-04681a1dbd79675a5
        InstanceType: t2.micro
        KeyName: serverless-task-notification
        Tags:
          - Key: Name
            Value: socketServer
